@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles.module.css */

:root {
  --primary-color: #eddcd2;
  --accent-color: #b0f2b4;
}
.navbar,
.add-to-cart,
.registration-button,
.login-button,
.go-to-details {
  background: var(--accent-color);
  color: black;
}
.add-to-cart:hover,
.registration-button:hover,
.login-button:hover {
  cursor: pointer;
  background: black;
  color: #fff;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 30px;
}

.scroll-to-top:hover {
  background-color: var(--accent-color);
  color: black;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
#testimonials {
  background: #b0f2b4;
  padding: 4rem 0;
  margin: 3rem 0;
  padding: 2rem 2rem 5rem 2rem;
}
.testimonial-title {
  padding-bottom: 1.25rem;
}
.products-card-container:hover,
.featured-card-container:hover {
  background: #b0f2b4;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.products-card-container:hover .go-to-details,
.featured-card-container:hover .add-to-cart {
  background: black;
  color: #fff;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

/* media queries */
/* Mobile devices (320px — 480px) */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .dashboard-hide {
    display: none;
  }
  .dashboard-show {
    display: block;
  }
  .product-parent-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    gap: 2rem;
    margin: 4rem;
    margin-bottom: 0;
  }
  .product-container {
    display: grid;
    grid-template-columns: auto;
    row-gap: 1rem;
  }
  .related-products-container {
    display: grid;
    justify-content: center;
    gap: 1rem;
  }
  .order-summary-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  .featured-card-container {
    width: 100%;
  }
  .aboutUs-card-container {
    background: #b0f2b4;
    margin: 3rem 0;
    padding: 2rem;
    gap: 1rem;
    flex-direction: column;
  }
  .company-title {
    font-size: 1.125rem;
  }
  /* .testimonial-container {
    flex-direction: row;
    padding: 0rem 6rem 0rem 6rem;
    gap: 1.25rem;
  } */
  .testimonial-card {
    width: 100%;
  }
}
.newsletter-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.testimonial-container {
  flex-direction: column;
}

/* iPads and Tablets (481px — 768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .dashboard-hide {
    display: none;
  }
  .dashboard-show {
    display: block;
  }
  .product-parent-container {
    display: grid;
    grid-template-columns: 12rem auto;
    gap: 2rem;
    margin: 4rem;
    margin-bottom: 0;
  }
  .product-container {
    display: grid;
    grid-template-columns: auto;
    row-gap: 1rem;
  }
  .related-products-container {
    display: grid;
    justify-content: center;
  }
  .testimonial-container {
    flex-direction: column;
  }
  .featured-card-container {
    width: 25rem;
  }
  /* .testimonial-container {
    flex-direction: row;
    padding: 0rem 6rem 0rem 6rem;
    gap: 1.25rem;
  } */
  .testimonial-card {
    width: 100%;
  }
}

/* Small screens and laptops (769px — 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Your CSS for small screens and laptops here */
  .dashboard-container {
    display: grid;
    grid-template-columns: 8rem auto;
  }
  .dashboard-hide {
    display: block;
  }
  .dashboard-show {
    display: none;
  }
  .product-parent-container {
    display: grid;
    grid-template-columns: 12rem auto;
    gap: 2rem;
    margin: 4rem;
    margin-bottom: 0;
  }
  .product-container {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
  }
  .products-detail-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: end;
    margin-top: 3rem;
    gap: 3rem;
  }
  .additional-details-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .order-card-container {
    display: grid;
    grid-template-columns: auto auto;
    place-items: baseline;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 7rem;
  }
  .featured-card-container {
    width: 18rem;
  }
  .testimonial-container {
    flex-direction: row;
    padding: 0rem 6rem 0rem 6rem;
    gap: 1.25rem;
  }
  .testimonial-card {
    width: 60%;
  }
}

/* Desktops and large screens (1025px — 1200px) */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  /* Your CSS for desktops and large screens here */
  .dashboard-icon {
    display: none;
  }
  .cross-icon {
    display: none;
  }
  .dashboard-container {
    display: grid;
    grid-template-columns: 12rem auto;
  }
  .product-parent-container {
    display: grid;
    grid-template-columns: 12rem auto;
    gap: 2rem;
    margin: 4rem;
    margin-bottom: 0;
  }
  .product-container {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
  }
  .products-detail-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: end;
    margin-top: 3rem;
    gap: 3rem;
  }
  .additional-details-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .order-card-container {
    display: grid;
    grid-template-columns: auto auto;
    place-items: baseline;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 7rem;
  }

  .featured-card-container {
    width: 18rem;
  }

  .testimonial-container {
    flex-direction: row;
    padding: 0rem 6rem 0rem 6rem;
    gap: 1.25rem;
  }
  .testimonial-card {
    width: 60%;
  }
}

/* Extra large screens and TV (1201px and more) */
@media screen and (min-width: 1201px) {
  /* Your CSS for extra large screens and TV here */
  .dashboard-icon {
    display: none;
  }
  .cross-icon {
    display: none;
  }
  .dashboard-container {
    display: grid;
    grid-template-columns: 12rem auto;
  }
  .product-parent-container {
    display: grid;
    grid-template-columns: 12rem auto;
    gap: 2rem;
    margin: 4rem;
    margin-bottom: 0;
  }
  .product-container {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 1rem;
  }
  .products-detail-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: end;
    margin-top: 3rem;
    gap: 3rem;
  }
  .additional-details-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .order-card-container {
    display: grid;
    grid-template-columns: auto auto;
    place-items: baseline;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 7rem;
  }
  .comment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .testimonial-container {
    flex-direction: row;
    padding: 0rem 6rem 0rem 6rem;
    gap: 1.25rem;
  }
  .featured-card-container {
    width: 18rem;
  }
  #faq {
    padding: 0 29rem;
  }
  .aboutUs-card-container {
    background: #b0f2b4;
    margin: 3rem 0;
    padding: 4rem;
    gap: 2rem;
    flex-direction: row;
  }
  .company-title {
    font-size: 1.25rem;
  }
  /* .testimonial-container {
    flex-direction: row;
    padding: 0rem 6rem 0rem 6rem;
    gap: 1.25rem;
  } */
  .testimonial-card {
    width: 60%;
  }
}
/* Add this CSS to your stylesheet or component */
.table-container {
  overflow-x: auto;
}

.table-responsive {
  max-width: 100%;
  overflow-x: auto;
}

/* Optional: Set a fixed width for the table cells if needed */
.table-responsive table {
  width: 100%;
}
